@page
@model Kvickly_Connect.Pages.Orders.CheckoutModel
@{
}
<h3>Hello @Model.Customer.FirstName : Thank you for placing this order on @DateTime.Now</h3>

<p>You have ordered:</p>

<table class="table">
    <thead>
        <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.list.Count != 0)
        {
            @foreach (var item in Model.list)
            {
                <tr>
                    <td>
                        @item.Value.ItemID
                    </td>
                    <td>
                        @item.Value.Name
                    </td>
                    <td>
                        @item.Value.Price
                    </td>
                    <td>
                        @item.Value.Description
                    </td>
                    <td>
                        <img src="~/Images/@item.Value.ImagePath" width="80" height="70">
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<p>
    The total price is: @Model.cart.CalculateTotalPrice().ToString("c")
    <br>A helpsome person will soon choose your order and deliver it to you. Have a nice day!
</p>

<form method="post">
    <div class="text-center">
        <a asp-page="/Index" class="btn btn-primary">To Home</a>
    </div>
</form>